<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khokhlov.khokhlovart.price_watcher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.khokhlov.khokhlovart.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.khokhlovart.permission.C2D_MESSAGE" />

    <application
        android:name="com.khokhlov.khokhlovart.price_watcher.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:process=":remote"
        android:theme="@style/AppTheme">

        <!-- <receiver -->
        <!-- android:name="com.google.android.gms.gcm.GcmReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <category android:name="com.example.khokhlovart" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->
        <!-- <category android:name="com.example.khokhlovart" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.google.android.gcm.demo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.khokhlov.khokhlovart.price_watcher.MyGcmListenerService"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.khokhlov.khokhlovart.price_watcher.MainActivity"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.khokhlov.khokhlovart.price_watcher.LoginActivity"
                  android:theme="@style/AppTheme.Toolbar">
        </activity>
        <activity
            android:name="com.khokhlov.khokhlovart.price_watcher.ItemInfo.itemInfoActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name="com.khokhlov.khokhlovart.price_watcher.AddActivity"
                  android:theme="@style/AppTheme.Toolbar"
                  android:windowSoftInputMode="adjustResize|stateHidden"></activity>
    </application>

</manifest>